atomicwrites==1.4.0
attrs==21.2.0
catkin-pkg==0.4.23
cffi==1.14.6
click==8.0.1
colcon-cmake==0.2.26
colcon-common-extensions==0.2.1
colcon-core==0.6.1
colcon-defaults==0.2.5
colcon-devtools==0.2.2
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.13
colcon-output==0.2.12
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.6
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.21
colcon-test-result==0.3.8
colorama==0.4.4
coloredlogs==15.0.1
coverage==5.5
cryptography==3.4.8
cycler==0.10.0
dataclasses==0.8
distlib==0.3.2
distro==1.6.0
docutils==0.17.1
empy==3.3.4
flake8==3.9.2
flake8-blind-except==0.2.0
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.6.1
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.0
Flask==2.0.1
geographiclib==1.52
humanfriendly==9.2
ifcfg==0.22
importlib-metadata==4.8.1
importlib-resources==5.2.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.1
lark-parser==0.12.0
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mock==4.0.3
mypy==0.761
mypy-extensions==0.4.3
netifaces==0.11.0
numpy==1.19.5
opencv-python==4.5.3.56
packaging==21.0
pep8==1.7.1
Pillow==8.3.2
pluggy==1.0.0
psutil==5.8.0
py==1.10.0
pycairo==1.20.1
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.3.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadline==2.1
pytest==6.2.5
pytest-cov==2.12.1
pytest-mock==3.6.1
pytest-repeat==0.9.1
pytest-rerunfailures==10.1
python-dateutil==2.8.2
pywin32==301
PyYAML==5.4.1
rosdistro==0.8.3
rospkg==1.3.0
six==1.16.0
snowballstemmer==2.1.0
toml==0.10.2
tornado==6.1
typed-ast==1.4.3
typing==3.7.4.3
typing-extensions==3.10.0.2
vcstool==0.3.0
Werkzeug==2.0.1
zipp==3.5.0
